In [6]:
x = "mohan"

In [7]:
x[4]

'n'

In [10]:
import pandas as pd
import numpy as py

In [9]:
for i in range(len(x)-1, -1, -1,):
    print(x[i])

n
a
h
o
m

In [12]:
df1 = {
    
    'State':['Arizona AZ','Georgia GG','Newyork NY','Indiana IN','Florida FL'],
    
    'Score':[62,47,55,74,31]}
df1 = pd.DataFrame(df1,columns=['State','Score'])
print(df1)

        State  Score
0  Arizona AZ     62
1  Georgia GG     47
2  Newyork NY     55
3  Indiana IN     74
4  Florida FL     31

In [13]:
df1['State_reverse'] = df1.loc[:,'State'].apply(lambda x: x[::-1])
print(df1)

        State  Score State_reverse
0  Arizona AZ     62    ZA anozirA
1  Georgia GG     47    GG aigroeG
2  Newyork NY     55    YN kroyweN
3  Indiana IN     74    NI anaidnI
4  Florida FL     31    LF adirolF

In [ ]:
#crime_typ_dis_df = sfpd_incnum.loc[ : "Category", "PdDistrict"]
#crime_typ_dis_df
#crime_typ_dis_df["Offense Number"] = ""
#crime_typ_dis_df = sfpd_incnum.set_index("Category")

#crime_typ_dis_df.head()

In [ ]:
#sfpd_incnum["Category"].value_counts()

In [ ]:
#crime_typ_dis_df.groupby(["PdDistrict", "Category"]).size().reset_index(name="WEAPON LAWS")